body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-container {
    background: #fff;
    padding: 30px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}
.login-container h2 {
    margin-bottom: 20px;
}
.input-box {
    margin-bottom: 15px;
}

.input-box input {
    width: 90%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
.input-box input:focus {
    border-color: #3498db;
}
input:invalid {
    border-color: red;
}
input:valid {
    border-color: green;
}
button {
    width: 100%;
    padding: 10px;
    background: #3498db;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #2980b9;
}

/* Footer Text */
.register {
    margin-top: 15px;
    font-size: 14px;;
}
.register1{
    background-color:gray;
    width: auto;
}
.a{
    text-align: center;
}
